body{
	background: 0,0,0;
	}
h1{
	color:white;
	text-align: center;
	font-size: 50px;
	font-family: "Courier New", Courier, monospace;
	background-color: black;
}
h2{
	font-family: 75%, georgia, sans-serif;
	color: white;
	background: DarkCyan;
}
h3 {
	color: white;
	font-family: "Courier New", Courier, monospace;
	background: IndianRed;
}
h4 {
	color: white;
	font-family: "Courier New", Courier, monospace;
	/*font-family: georgia, sans-serif;*/
}
p {
	color: dimgray;
	font-family: "Courier New", Courier, monospace;
	/*font-family: georgia, sans-serif;*/
}
ul {
	list-style-type: none;
	margin:0;
	padding:0;
	font-size:20px;
	font-family: "Courier New", Courier, monospace;
	/*font-family: georgia, sans-serif;*/
	text-align: left;
}
li {
	display:inline;
	float:left;
}
li a{
	display: block;
	color: DarkSlateGray;
	text-align:center;
	padding:8px 10px;
	text-decoration:none;
}
li a:hover {
	background-color: LightSlateGray;
}
.GIS{
	text-align:left;
	/*font-family: georgia, sans-serif;*/
	font-family: "Courier New", Courier, monospace;
	
}
#header {
	text-align: center;
}
.left {
	float: left;
}
.right {
	float:right;
}
#footer {
	text-align:center;
}